<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <title>PersonnelInformation</title>

    <!-- Font-icon css-->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon-16x16.png' %}" />
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    {% block extracss %}
    {% endblock extracss %}
</head>

<body>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <h1 style="text-align:center">PersonnelInformation test world</h1>
            <hr>
            <table class="table table-dark table-hover">
                <thead>
                    <th>id</th>
                    <th>年分</th>
                    <th>身分</th>
                    <th>等級</th>
                    <th>名字</th>
                    <th>電話</th>
                    <th>身分證字號</th>
                    <th>MID</th>
                    <th>Note</th>
                </thead>
                <tbody>
                    {% for readDatah in readData %}
                    <tr>
                        <td>{{ readDatah.id }}</td>
                        <td>{{ readDatah.joinYear }}</td>
                        <td>{{ readDatah.latestLicense }}</td>
                        <td>{{ readDatah.identity }}</td>
                        <td>{{ readDatah.chineseName }}</td>
                        <td>{{ readDatah.mobilePhone }}</td>
                        <td>{{ readDatah.idNumber }}</td>
                        <td>{{ readDatah.mid }}</td>
                        <td>{{ readDatah.note }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="pagination">
                <span class="step-links">
                    {% if readData.has_previous %}
                    <a href="?page=1">&laquo; first</a> &nbsp;
                    <a href="?page={{ readData.previous_page_number }}">previous</a> &nbsp;
                    {% endif %}
                    
                    <span class="current">
                        Page {{ readData.number }} of {{ readData.paginator.num_pages }}.
                    </span>
            
                    {% if readData.has_next %}
                    &nbsp;
                    <a href="?page={{ readData.next_page_number }}">next</a> &nbsp;
                    <a href="?page={{ readData.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="col"></div>
    </div>
</body>

</html>